.sc-de958558-6dca-4fb6-8f09-518a8f4fa831 #n0 {
  left: 10px;
  top: 10px;
  width: 154px;
  height: 320px;
}
.sc-de958558-6dca-4fb6-8f09-518a8f4fa831 #n1 {
  left: 258px;
  top: 10px;
  width: 154px;
  height: 320px;
}
#scenarioWrapper {
  width: 422px;
}