#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Row_cell_7 {
  position: relative;
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Episodes_list .s-Row_cell_8 {
  position: relative;
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Episodes_list .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Line_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Line_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_49 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Icon_phone_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Icon_phone_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Two-line-item_31 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Two-line-item_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Icon_phone_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Row_cell_9 {
  position: relative;
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Episodes_list_1 .s-Row_cell_10 {
  position: relative;
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Episodes_list_1 .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1ee39df-a657-4368-9e81-d08ba985e894 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}